// ================================================
// CALENDAR variables
// ================================================

$calendar-cell-size              : rem-calc(36px) !default;
$calendar-controls-height        : rem-calc(40px) !default;
$calendar-month-header-height    : rem-calc(40px) !default;
$secondary-text-color   : rgba(black, 0.54) !default;

// ================================================
// CALENDAR MONTHS
// ================================================
.calendar-month {
    height: ($calendar-cell-size * 6) + $calendar-month-header-height;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.calendar-month__header {
    align-items: center;
    display: flex;
    height: $calendar-month-header-height;
    justify-content: space-around;
    max-width:rem-calc(252px);
    width: 100%;

    span {
        align-items: center;
        color: $secondary-text-color;
        display: flex;
        font-size: rem-calc(14px);
        height: $calendar-cell-size;
        justify-content: center;
        text-transform: uppercase;
        width: $calendar-cell-size;
    }
}


.calendar-month__week {
    $week-width: $calendar-cell-size * 7;
    position: absolute;
    width: $week-width;

    &.is-current {
        left: 0;
    }

    &.is-other {
        left: $week-width;

        &.calendar-month--slide-right {
            left: -$week-width;
        }
    }

    &.is-sliding {
        transition: transform 250ms ease;

        &.calendar-month--slide-left {
            transform: translate3d(-$week-width, 0, 0);
        }

        &.calendar-month--slide-right {
            transform: translate3d($week-width, 0, 0);
        }
    }
}

// ================================================
// CALENDAR WEEK
// ================================================

.calendar-week {
    display: flex;
    font-size: rem-calc(14px);
    width: 100%;
}

.calendar-week-date {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: $calendar-cell-size;
    justify-content: center;
    outline: none;
    text-align: center;
    width: $calendar-cell-size;

    &:hover,
    body[modality="keyboard"] &:focus {
        background-color: rgba(black, 0.1);
    }

    &.is-in-other-month {
        visibility: hidden;
    }

    &.is-today {
        font-weight: bold;
        // color is defined in UiCalendar

        &.is-selected {
            color: $accent;
        }
    }

    &.is-selected {
        color: $accent;
        // background color is defined in UiCalendar
    }

    &.is-disabled {
        background-color: transparent;
        cursor: default;
        opacity: 0.4;
    }
}

.ui-month-picker{
    min-width:rem-calc(90px);
    &.has-select{
        min-width:rem-calc(135px);
    }
}

.ui-year-picker{
    min-width:rem-calc(60px);
    &.has-select{
        min-width:rem-calc(95px);
    }
}

.ui-date-picker{
    .ui-dropdown .dropdown-menu{
        max-width:rem-calc(310px);
        min-width:rem-calc(300px);
    }
}
