.dialog,.dialog-content{
    z-index:9999;
}
.dialog{
    @include overlay(0);
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: $modal-z;

    .dialog-background{
        @include overlay(0);
        background-color: $modal-background-background-color;
    }
    .media-content{
        text-align:center;
    }
    .dialog-head{
        padding:30px 0px;
    }
    .dialog-body,.dialog-foot{
        padding:20px 0px;
    }
    @media only screen and (min-width:$bp-hands-wide){
        .dialog-foot,.dialog-body,.dialog-head{
            padding:20px 40px;
        }
    }

    .dialog-content{
        padding:0.75em;
        background-color:white;
        border-radius: 5px;
    }
    .dialog-head, .dialog-foot{
        background-color:white;
        border-bottom:0px;
        border-radius: 0px;
        border-top:0px;
    }
    .dialog-foot{
        .button{ 
            margin:0px;
            width:150px;
            height:40px;
        }
        @media only screen and (max-width: 480px){
            .button:not(:last-child){
                margin-bottom:10px;
            }
        }
        @media only screen and (min-width: 480px){
            .button:not(:last-child){
                margin-right:10px;
            }
        }
    }
}
