// ================================================
// Fields and Form Inputs
// ================================================
.field.is-active {
  color: $accent;
  .label {
    color: $accent !important;
  }
}

.field.is-invalid {
  color: $danger;
  .label {
    color: $danger !important;
  }
}

.field,
.select,
.date-picker {
  &.is-invalid {
    border-color: $danger !important;
    border-width: 0.15rem;
    select,
    input,
    textarea {
      border-color: $danger !important;
      border-width: 0.15rem;
    }
  }
  &.is-active {
    border-color: $accent !important;
    border-width: 0.15rem;
    select,
    input,
    textarea {
      border-color: $accent !important;
      border-width: 0.15rem;
    }
  }
}

.field {
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;

  .form-content {
    display: flex;
    align-items: center;
    margin: 0px;
    position: relative;
  }
  .feedback {
    width: 100%;
    min-height: 1.25rem;
  }
}
.field-group-label {
  min-height: 1.85em;
  width: 100%;
}
.field {
  .input[disabled],
  select[disabled] {
    border: 1px solid;
    border-color: #dbdbdb;
  }
  &.for-checkbox {
    .form-content {
      flex-wrap: wrap;
      label.ui-checkbox {
        margin-bottom: 0.5em;
      }
    }
  }
}

.ui-field,
.ui-field-group {
  padding-bottom: 1rem;
}

// ================================================
// Label
// ================================================
.label {
  position: relative;
  @media screen and (min-width: $bp-hands-wide) {
    white-space: nowrap;
  }
}

.label-top {
  > label {
    min-height: 1.85em;
    width: 100%;
  }
}

.label-right {
  .form-content {
    flex-direction: row-reverse;
  }
  .label {
    margin-left: 10px;
    margin-bottom: 0px;
  }
}

.label-left {
  .label {
    margin-right: 10px;
    margin-bottom: 0px;
  }
}
.label-required {
  word-break: keep-all;
  font-size: rem-calc(11px);
  margin-left: 1em;
  background-color: $danger;
  color: #eee;
  padding: 0px 0.25em;
}
.label-extra {
  font-weight: initial;
  margin-left: 1em;
  padding: 0px 0.25em;
  @media only screen and (max-width: $bp-hands-wide) {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.title-addon {
  span {
    font-weight: bold;
  }
}
