.ui-page-alert {
    position: fixed;
    bottom:0;
    width:100%;
    fill-opacity: 1;
    opacity: 1;
    padding:0 1em;
    @media only screen and (min-width:$bp-hands-wide){
        padding:0 5em;
    }
    z-index: 999;
    .ui-notification {
        &:not(first-child){
            margin-top:10px;
        }
        &:last-child{
            margin-bottom:10px;
        }
        max-height:20vh;
        overflow-y:auto;
        margin-bottom:0px;
        border-radius: 0.45rem;
        .ui-notification__body {
            .ui-notification__content {
                font-size: 12px;
                text-align:center;
            }
        }
    }
}
