//$ui-select-option-checkbox-color: rgba(black, 0.38) !default;

.ui-select{
    width:100%;
    .select{
        width:100%;
        select{
            &:hover{
                border-color:#dbdbdb;
            }
            width:100%;
            padding-right: 2.5em;
            option {
                color: $grey-dark;
                padding: 0.25em 0.5em;
            }
            option:disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }

        }
        &.is-empty select {
            color: rgba($grey, 0.7);
        }
    }
}

.ui-select-option {
    align-items: center;
    cursor: pointer;
    display: flex;
    user-select: none;

    &.is-selected {
        background-color: rgba(black, 0.05);
        color: $primary;
        font-weight: 500;

        .ui-select-option__checkbox {
            color: $primary;
        }
    }

    &.is-highlighted {
        background-color: rgba(black, 0.1);
    }
}

//.ui-select-option__basic,
//.ui-select-option__image-text {
//    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
//}
//
//.ui-select-option__image {
//    display: flex;
//    align-items: center;
//}
//
//.ui-select-option__image-object {
//    background-position: 50%;
//    background-size: cover;
//    border-radius: 50%;
//    height: rem-calc(32px);
//    margin-right: rem-calc(12px);
//    width: rem-calc(32px);
//}
//
//.ui-select-option__checkbox {
//    color: $ui-select-option-checkbox-color;
//    margin-left: auto;
//}
//
//// ================================================
//// Types
//// ================================================
//
//.ui-select-option--type-basic {
//    padding: rem-calc(6px 12px);
//}
//
//.ui-select-option--type-image {
//    padding: rem-calc(4px 12px);
//}
