.ui-title{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    margin-bottom:20px;
    align-items:center;
    .ui-icon{
        margin-top:10px;
    }
    .title {
        color:#4d4d4d;
        margin:0px;
        margin-top:10px;
        &:not(:first-child){
            padding-left: 10px;
        }
        &.is-1 {
            padding-left: 15px;
        }
        white-space:nowrap;
    }
    &:first-child{
        margin-top:10px;
        margin-bottom:20px;
    }
    &:not(:first-child){
        margin-top:20px;
    }
    .title-addon{
        margin-top:10px;
        font-size: 13px;
        span {
            display: flex;
            align-items: center;
        }
    }
    .title-extra{
        margin-top:10px;
        flex-grow:1;
    }
}
