.ui-toolbar{
    width:100%;
    height:100%;
    min-height:70px;
    max-height:500px;
    padding:0.25em 0.75em;
    background-color:$primary;
    display:flex;
    align-items:center;
    border-bottom:1px solid #e6e6e6;
    .ui-toolbar__body{
        flex-grow:3;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        .ui-toolbar__title{
            color:#ffffff;
        }
    }

    .ui-toolbar__brand{
        flex-grow:1;
        height:100%;
        display:flex;
        align-items:center;
        .ui-title{
            margin:0px;
        }
    }

    .ui-toolbar__actions{
        flex-grow:1;
        height:100%;
        display:flex;
        justify-content:flex-end;
        align-items:center;
        @media only screen and (max-width: $bp-hands-wide){
            display: none;
        }
    }
}
