// The Material Design color palette
@import 'md-colors';

// The UI font stack
$font-stack             : Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Base font size
$base-font-size         : 100% !default; // typically 16px in most browsers

// Primary text color
$primary-text-color     : rgba(black, 0.87) !default;

// Secondary text color
$secondary-text-color   : rgba(black, 0.54) !default;

// Hint text color
$hint-text-color        : rgba(black, 0.38) !default;

// Disabled text color
$disabled-text-color    : rgba(black, 0.38) !default;

// Divider color
$divider-color          : rgba(black, 0.12) !default;

